.c{
    background: rgb(121, 116, 214);
background: linear-gradient(90deg, rgba(2,0,36,0.9416141456582633) 2%, rgba(99,99,227,0.7987570028011204) 21%, rgba(158,90,209,0.5438550420168067) 44%, rgba(0,212,255,1) 99%);

}
.s{
    background: rgb(121, 116, 214);
    background: linear-gradient(90deg, rgba(2,0,36,0.9416141456582633) 2%, rgba(99,99,227,0.7987570028011204) 21%, rgba(158,90,209,0.5438550420168067) 44%, rgba(0,212,255,1) 99%);
    
}
